{% include 'header.html' %}
<title>WatchCrafters|index</title>

<section id="home" class="hero-section">
    <h1>Welcome to WatchStore</h1>
    <p>Your ultimate destination for luxury and stylish watches.</p>
    <a href="{% url 'watchbrowse' %}" class="btn">Shop Now</a>
</section>



<section id="watches" class="watches-section">
    <h2>Our Collection</h2>
    {% for product in random_products %}
    <div class="watch-card">
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
        <h3>{{ product.name }}</h3>
    </div>
    {% endfor %}
</section>



{% include 'footer.html' %}